/*=========================
共通スタイル
=========================*/

*{
    box-sizing: border-box;
}

body { 
    font-family: Arial, Helvetica, sans-serif,"Hiragino Kaku Gothic ProN", Meiryo, sans-serif; 
    font-size: 16px; 
    color: #333; 
    line-height: 1.6; 
    margin: 0;
    max-width: 750px; 
    text-align: center; 
}

#top { 
    width: 100%; 
    min-width: 750px; 
    margin: 0 auto; 
    box-shadow: 0 0 17px rgb(0 0 0 /30%); 
}

/*=========================
コンテンツ横幅
=========================*/


img{ 
    margin-top: -1px; 
    margin-bottom: -1px; 
    display: block; 
    max-width: 750px; 
}

/*=========================
CTAボタン
=========================*/

.cta_area {
    position: relative; 
}

.cta__1 {
    width: 90%; 
    position: absolute; 
    top: 73.4%; 
    left: 52%; 
    transform: translateX(-50%); 
}


.cta__3 {
       width: 90%; 
    position: absolute; 
    top: 37.9%; 
    left: 51%; 
    transform: translateX(-50%); 
 
}